/* Font Familys */
$defaultFontFamily: Arial, Helvetica, sans-serif;

/* Font Sizes */
$defaultFontSize: 16px;
$xxlFontSize: 2rem;
$xlFontSize: 1.6rem;
$lFontSize: 1.4rem;
$sFontSize: .8rem;
$xsFontSize: .6rem;